@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

/* Recomenacions guía d'estil formularis MDN (https://developer.mozilla.org/ca/docs/Learn/CSS/Building_blocks/Images_media_form_elements) */

button, 
input, 
select, 
textarea { 
  font-family: inherit; 
  font-size: 100%; 
  box-sizing: border-box; 
  padding: 0; margin: 0; 
} 

textarea { 
  overflow: auto; 
} 

/* Estils per index.html */

#index-body{
    background-image: url(../img/home.jpg); 
    background-position: 0 0; 
    background-size: cover;
    text-align: center;
}

#index-body main {
    display: table-cell;
    vertical-align: middle;
    height: 80vh;
    width: 100vw;
}

#img-infocovid-big {
    margin: auto;
    width: 510px;
    height: 300px;
    background-image: url(../img/infocovid_big.svg);
    background-size: cover;
}

h1, strong {
    color: #A01127;
}

#index-body main nav ul li {    
    display: inline;
    list-style: none;
    margin: 1rem;
}

#index-body main nav ul li a {
    color: #77AFDF;
    font-weight: bold;
    text-decoration-line: none;
}

#index-body main nav ul li a:hover {
    color: #A01127;
    font-weight: bold;
    text-decoration-line: underline;
}

#index-body footer {
    color: white;
    height: 15vh;
}

address {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#index-body footer a, address a {
    color: white;
    text-decoration: none;
    color: #A01127;
    border-bottom: 1.5px #A01127 dashed;
}

/* Estils per web_salut.html, mesures_benestar.html i certificat.html */

body {
    background-color: rgb(252,252,252);
    margin: 0px;
}

.secondary-header, .secondary-main, .secondary-footer {
    padding-right: 10vw;
    padding-left: 10vw;
}

.secondary-header {
    background-color: #F0F1F3;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

.secondary-header nav ul li {
    display: inline;
    margin: 1rem;
}

.secondary-header nav ul li a {
    color: #77AFDF;
    font-weight: bold;
    text-decoration-line: none;
}

.secondary-header nav ul li a:hover {
    color: #A01127;
    text-decoration-line: underline;
}

.nav-current-item {
    text-decoration-line: underline !important;
}

.secondary-main h2 {
    color: #A01127;
    border-bottom: solid 1px  #A01127;
}

.secondary-main h3 {
    color: #77AFDF;
}

.normal-link {
    color: #77AFDF;
    text-decoration-color: #77AFDF;
    text-decoration-style: dashed;
}

.normal-link:hover {
    color: #A01127;
    text-decoration-color: #A01127;
    text-decoration-style: dashed;
}

ol > li {
    margin-bottom: 1rem;
}

ol > li > ul {
    list-style: square;
}

ul > li {
    list-style: none;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

article#related-videos > article {
    margin: auto;
    width: 80%;
}

.youtube-video {
    display: flex;
    justify-content: center;
}

.youtube-video > iframe {
    height: 450px;
    width: 80%;
}

article#related-videos > address, .secondary-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

table {
    border-collapse: collapse;
}

caption {
    caption-side: bottom;
    font-style: italic;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    text-align: right;
}

thead {
    font-size: 0.8rem;
    border-bottom: 1px solid black;
}

thead > tr > th {
    font-weight: normal;
    padding: 0.8rem;
}

tbody tr th {
    text-align: left;
}

tbody tr td, tbody th td{
    padding: 0.5rem;
}

tbody tr:nth-child(odd) {
    background-color: rgba(119, 175, 223,0.2);
}

tbody tr:nth-child(even) {
    background-color: rgba(119, 175, 223,0.4);
}

fieldset {
    margin-top: 1.5rem;
}

fieldset input, fieldset select {
    padding: 2px;
}

.field {
    display: inline-grid;
    padding: calc(1rem / 3);
    width: calc(100% / 3 - 1rem);
}

input[type=submit] {
    background-color:  #A01127;
    border-radius: 0.8rem;
    border: none;
    color: white;
    padding: 0.5rem 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
}

form > p{
    background-color: lightgray;
    padding: 0.4rem;
    width: fit-content;    
}

form > div > p {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
    width: 60%;
}

.secondary-footer {
    background-color: #BBB;
    color: white;
}

.secondary-footer a {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}

.secondary-footer a:hover {
    color:  #A01127;
    text-decoration-line: underline;
}